<nav class="navbar">
      <div class="nav-left">
        <a href="index.html" class="nav-brand">
          <img src="assets/SRH_Logo_sRGB_Orange.png" alt="Logo" class="logo">
          Research projects
        </a>
      </div>

      <div class="nav-right">
        <ul class="nav-links">
          <li><a href="research.html">Research</a></li>
          <li><a href="Teaching.html">Teaching</a></li>
          <li><a href="Team.html">Team</a></li>
          <li><a href="News.html">News</a></li>
          <li><a href="Events.html">Events</a></li>
          <li><a href="Job.html">Job</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>

        <div class="nav-search-toggle">
          <i class="fas fa-search"></i>
        </div>

        <div class="nav-search">
          <input type="text" placeholder="Search..." id="search-input">
          <button id="search-btn"><i class="fas fa-search"></i></button>
        </div>

        <div class="nav-toggle">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>